.mbpz-tabs{
    border: none!important;
    height: 48px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0px!important;
}

.mbpz-tabs>li{
    height: 48px;
}

.mbpz-tabs>li>a,
.mbpz-tabs>li>a:hover,
.mbpz-tabs>li>a:focus,
.mbpz-tabs>li>a:visited,
.mbpz-tabs>li>a:visited:hover,
.mbpz-tabs>li>a:visited:focus{
    margin-right: 0px!important;
    color: #666666!important;
    border: none!important;
    background-color: transparent!important;
    padding: 0px;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.mbpz-tabs>li.active>a,
.mbpz-tabs>li.active>a:hover,
.mbpz-tabs>li.active>a:focus,
.mbpz-tabs>li.active>a:visited,
.mbpz-tabs>li.active>a:visited:hover,
.mbpz-tabs>li.active>a:visited:focus,
.mbpz-tabs>li:nth-child(3)>a,
.mbpz-tabs>li:nth-child(3)>a:hover,
.mbpz-tabs>li:nth-child(3)>a:focus,
.mbpz-tabs>li:nth-child(3)>a:visited,
.mbpz-tabs>li:nth-child(3)>a:visited:hover,
.mbpz-tabs>li:nth-child(3)>a:visited:focus{
    color: #FF4E72!important;
}

.mbpz-tab-content{
    position: absolute;
    top: 0px;
    bottom: 48px;
    overflow: auto;
    margin: 0px!important;
}

.tab-icon{
    font-size: 24px;
    margin-top: 2px;
    font-weight: 700;
}

.mbpz-tabs>li>a.tab-icon-center{
    overflow: visible;
}

.mbpz-tabs>li>a.tab-icon-center>.tab-icon{
    display: block;
    width: 25px;
    height: 24px;
    margin: 2px auto 0px;
}

.mbpz-tabs>li>a.tab-icon-center>.tab-icon:before{
    position: absolute;
    font-size: 32px;
    top: -16px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #FF4E72;
    opacity:1;
    display: block;
    z-index:999;
    border-radius: 50%;
    right: calc(50% - 20px);
    right: -webkit-calc(50% - 20px);
}


.tab-title{
    display: block;
}

