.mbpz-tabs{
    border: none!important;
    height: 48px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    margin: 0px!important;
}

.mbpz-tabs>li{
    height: 48px;
}

.mbpz-tabs>li>a,
.mbpz-tabs>li>a:hover,
.mbpz-tabs>li>a:focus,
.mbpz-tabs>li>a:visited,
.mbpz-tabs>li>a:visited:hover,
.mbpz-tabs>li>a:visited:focus{
    margin-right: 0px!important;
    color: #666666!important;
    border: none!important;
    background-color: transparent!important;
}

.mbpz-tabs>li.active>a,
.mbpz-tabs>li.active>a:hover,
.mbpz-tabs>li.active>a:focus,
.mbpz-tabs>li.active>a:visited,
.mbpz-tabs>li.active>a:visited:hover,
.mbpz-tabs>li.active>a:visited:focus,
.mbpz-tabs>li:nth-child(3)>a,
.mbpz-tabs>li:nth-child(3)>a:hover,
.mbpz-tabs>li:nth-child(3)>a:focus,
.mbpz-tabs>li:nth-child(3)>a:visited,
.mbpz-tabs>li:nth-child(3)>a:visited:hover,
.mbpz-tabs>li:nth-child(3)>a:visited:focus{
    color: #FF4E72!important;
}

.mbpz-tab-content{
    position: absolute;
    top: 0px;
    bottom: 48px;
    overflow: auto;
    margin: 0px!important;
}


/*
.nav-tabs>li,
.nav-tabs>li.active,
.nav-tabs>li.focus,
.nav-tabs>li>a,
.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li.active>a{
    margin-right: 0px!important;
    margin-bottom: 0px!important;
    border: 0px solid transparent!important;
    background-color: #FFFFFF;
}

.nav-tabs>li>a{
    color: #666666;
}

.nav-tabs>li.active>a
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:visited{
    color: #FF4E72;
}

.nav-tabs{
    background-color: #FFFFFF;
}*/
