body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:300px;
  top:182px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:303px;
  top:200px;
  width:30px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:470px;
  top:370px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:300px;
  top:706px;
  width:320px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:350px;
  top:852px;
  width:320px;
  height:568px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u9 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:460px;
  top:746px;
  width:50px;
  height:106px;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:110px;
}
#u10_seg1 {
  position:absolute;
  left:-10px;
  top:86px;
  width:70px;
  height:20px;
}
#u10_seg2 {
  position:absolute;
  left:40px;
  top:86px;
  width:20px;
  height:24px;
}
#u11 {
  position:absolute;
  left:-50px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:470px;
  top:790px;
  width:53px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:720px;
  top:852px;
  width:320px;
  height:568px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u15 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:620px;
  top:726px;
  width:260px;
  height:126px;
}
#u16_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:274px;
  height:20px;
}
#u16_seg1 {
  position:absolute;
  left:250px;
  top:-10px;
  width:20px;
  height:140px;
}
#u17 {
  position:absolute;
  left:143px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:740px;
  top:737px;
  width:53px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:51px;
  top:250px;
  width:249px;
  height:48px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:40px;
  top:881px;
  width:300px;
  height:64px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
