body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:310px;
  top:110px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:570px;
  top:130px;
  width:60px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:800px;
  top:110px;
  width:320px;
  height:568px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u5 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:630px;
  top:145px;
  width:424px;
  height:18px;
}
#u6_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:438px;
  height:20px;
}
#u6_seg1 {
  position:absolute;
  left:414px;
  top:-10px;
  width:20px;
  height:32px;
}
#u7 {
  position:absolute;
  left:171px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:994px;
  top:163px;
  width:120px;
  height:136px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:136px;
}
#u9 {
  position:absolute;
  left:2px;
  top:60px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:650px;
  top:110px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:310px;
  top:32px;
  width:164px;
  height:64px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:64px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:310px;
  top:160px;
  width:320px;
  height:150px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:150px;
}
#u15 {
  position:absolute;
  left:2px;
  top:67px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:310px;
  top:740px;
  width:320px;
  height:568px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u17 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:136px;
  top:792px;
  width:177px;
  height:32px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:208px;
  top:250px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
