body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:208px;
  width:415px;
  height:326px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:30px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:406px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:30px;
  width:410px;
  height:109px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:109px;
}
#u4 {
  position:absolute;
  left:2px;
  top:46px;
  width:406px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:139px;
  width:410px;
  height:182px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:182px;
}
#u6 {
  position:absolute;
  left:2px;
  top:83px;
  width:406px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:150px;
  top:170px;
  width:410px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:168px;
  top:182px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:520px;
  top:182px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
