body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:360px;
  top:100px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:320px;
  top:240px;
  width:40px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u3 {
  position:absolute;
  left:85px;
  top:237px;
  width:235px;
  height:16px;
  color:#FF0000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:720px;
  top:80px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:640px;
  top:113px;
  width:40px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:800px;
  top:100px;
  width:320px;
  height:568px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u10 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:990px;
  top:140px;
  width:120px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:660px;
  top:113px;
  width:390px;
  height:27px;
}
#u13_seg0 {
  position:absolute;
  left:-10px;
  top:-53px;
  width:20px;
  height:57px;
}
#u13_seg1 {
  position:absolute;
  left:-10px;
  top:-53px;
  width:410px;
  height:20px;
}
#u13_seg2 {
  position:absolute;
  left:380px;
  top:-53px;
  width:20px;
  height:84px;
}
#u14 {
  position:absolute;
  left:158px;
  top:-51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1110px;
  top:155px;
  width:40px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u16 {
  position:absolute;
  left:1150px;
  top:152px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:358px;
  top:112px;
  width:42px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:318px;
  top:122px;
  width:40px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u21 {
  position:absolute;
  left:200px;
  top:111px;
  width:118px;
  height:32px;
  color:#FF0000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:230px;
  top:749px;
  width:320px;
  height:568px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u24 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:424px;
  top:641px;
  width:40px;
  height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:444px;
  top:669px;
  width:-54px;
  height:80px;
}
#u27_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u27_seg1 {
  position:absolute;
  left:-64px;
  top:60px;
  width:74px;
  height:20px;
}
#u27_seg2 {
  position:absolute;
  left:-64px;
  top:60px;
  width:20px;
  height:24px;
}
#u28 {
  position:absolute;
  left:-50px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:368px;
  top:694px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:297px;
  top:1290px;
  width:34px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:293px;
  top:1328px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:293px;
  top:1354px;
  width:157px;
  height:64px;
  color:#FF0000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:64px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:490px;
  top:641px;
  width:40px;
  height:28px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:760px;
  top:750px;
  width:320px;
  height:568px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u40 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:510px;
  top:669px;
  width:410px;
  height:81px;
}
#u41_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u41_seg1 {
  position:absolute;
  left:-10px;
  top:60px;
  width:430px;
  height:20px;
}
#u41_seg2 {
  position:absolute;
  left:400px;
  top:60px;
  width:20px;
  height:25px;
}
#u42 {
  position:absolute;
  left:126px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:524px;
  top:694px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:368px;
  top:641px;
  width:40px;
  height:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:300px;
  top:650px;
  width:68px;
  height:10px;
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:5px;
  width:68px;
  height:1px;
}
#u48 {
  position:absolute;
  left:13px;
  top:647px;
  width:287px;
  height:16px;
  color:#FF0000;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:568px;
  top:639px;
  width:112px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:680px;
  top:641px;
  width:30px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u53 {
  position:absolute;
  left:710px;
  top:637px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:598px;
  top:500px;
  width:82px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:680px;
  top:511px;
  width:30px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u58 {
  position:absolute;
  left:710px;
  top:507px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:368px;
  top:500px;
  width:40px;
  height:30px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:330px;
  top:507px;
  width:38px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:21px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:38px;
  height:1px;
}
#u63 {
  position:absolute;
  left:173px;
  top:504px;
  width:157px;
  height:16px;
  color:#FF0000;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:360px;
  top:541px;
  width:30px;
  height:30px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:322px;
  top:548px;
  width:38px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:21px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:38px;
  height:1px;
}
#u68 {
  position:absolute;
  left:165px;
  top:545px;
  width:157px;
  height:16px;
  color:#FF0000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
