body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:42px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:123px;
  top:96px;
  width:317px;
  height:74px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:74px;
}
#u3 {
  position:absolute;
  left:2px;
  top:29px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:310px;
  top:177px;
  width:60px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:17px;
  top:177px;
  width:293px;
  height:48px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:48px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:375px;
  top:177px;
  width:65px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
