body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:148px;
  top:40px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:658px;
  top:40px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:152px;
  top:568px;
  width:310px;
  height:39px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:39px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:462px;
  top:588px;
  width:266px;
  height:-234px;
}
#u6_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:210px;
  height:20px;
}
#u6_seg1 {
  position:absolute;
  left:186px;
  top:-244px;
  width:20px;
  height:254px;
}
#u6_seg2 {
  position:absolute;
  left:186px;
  top:-244px;
  width:84px;
  height:20px;
}
#u7 {
  position:absolute;
  left:146px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:728px;
  top:329px;
  width:190px;
  height:49px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:49px;
}
#u9 {
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:65px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:152px;
  top:60px;
  width:26px;
  height:26px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:470px;
  top:266px;
  width:58px;
  height:16px;
  color:#FF0000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:468px;
  top:310px;
  width:58px;
  height:16px;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:478px;
  top:520px;
  width:170px;
  height:48px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:48px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:156px;
  top:96px;
  width:50px;
  height:54px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:54px;
}
#u21 {
  position:absolute;
  left:2px;
  top:19px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
