body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:520px;
  top:652px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:990px;
  top:652px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:530px;
  top:790px;
  width:310px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:840px;
  top:810px;
  width:150px;
  height:126px;
}
#u6_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:144px;
  height:20px;
}
#u6_seg1 {
  position:absolute;
  left:120px;
  top:-10px;
  width:20px;
  height:146px;
}
#u6_seg2 {
  position:absolute;
  left:120px;
  top:116px;
  width:34px;
  height:20px;
}
#u7 {
  position:absolute;
  left:80px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:868px;
  top:790px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:530px;
  top:750px;
  width:310px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:431px;
  top:680px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:524px;
  top:672px;
  width:30px;
  height:26px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:530px;
  top:707px;
  width:310px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:525px;
  top:10px;
  width:320px;
  height:568px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u19 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:685px;
  top:707px;
  width:0px;
  height:-129px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-133px;
  width:20px;
  height:143px;
}
#u21 {
  position:absolute;
  left:-50px;
  top:-72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:695px;
  top:604px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:60px;
  top:662px;
  width:320px;
  height:568px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u25 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:530px;
  top:770px;
  width:-150px;
  height:405px;
}
#u26_seg0 {
  position:absolute;
  left:-140px;
  top:-10px;
  width:144px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:-140px;
  top:-10px;
  width:20px;
  height:425px;
}
#u26_seg2 {
  position:absolute;
  left:-154px;
  top:395px;
  width:34px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-180px;
  top:140px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:418px;
  top:774px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:60px;
  top:1080px;
  width:40px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:80px;
  top:1080px;
  width:440px;
  height:-144px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-60px;
  width:20px;
  height:64px;
}
#u32_seg1 {
  position:absolute;
  left:-10px;
  top:-60px;
  width:450px;
  height:20px;
}
#u32_seg2 {
  position:absolute;
  left:420px;
  top:-154px;
  width:20px;
  height:114px;
}
#u32_seg3 {
  position:absolute;
  left:420px;
  top:-154px;
  width:24px;
  height:20px;
}
#u33 {
  position:absolute;
  left:192px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:60px;
  top:1070px;
  width:320px;
  height:210px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:210px;
}
#u35 {
  position:absolute;
  left:2px;
  top:97px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:98px;
  top:1004px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:340px;
  top:1080px;
  width:40px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:380px;
  top:1090px;
  width:50px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u41 {
  position:absolute;
  left:434px;
  top:1087px;
  width:196px;
  height:16px;
  color:#FF0000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:530px;
  top:830px;
  width:310px;
  height:40px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:530px;
  top:1260px;
  width:320px;
  height:568px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u46 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:685px;
  top:870px;
  width:5px;
  height:390px;
}
#u47_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:394px;
}
#u47_seg1 {
  position:absolute;
  left:-10px;
  top:370px;
  width:25px;
  height:20px;
}
#u47_seg2 {
  position:absolute;
  left:-5px;
  top:370px;
  width:20px;
  height:24px;
}
#u48 {
  position:absolute;
  left:-50px;
  top:190px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:695px;
  top:984px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:577px;
  top:1374px;
  width:87px;
  height:16px;
  color:#FF0000;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:537px;
  top:1280px;
  width:30px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:445px;
  top:1287px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:531px;
  top:1512px;
  width:315px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:846px;
  top:1532px;
  width:50px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u60 {
  position:absolute;
  left:896px;
  top:1513px;
  width:170px;
  height:48px;
  color:#FF0000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:48px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
