body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:140px;
  top:375px;
  width:320px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:460px;
  top:382px;
  width:105px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:470px;
  top:50px;
  width:131px;
  height:48px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:48px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
