body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:60px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:77px;
  width:40px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:79px;
  top:84px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:160px;
  top:150px;
  width:300px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1076px;
  top:52px;
  width:320px;
  height:568px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u9 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1335px;
  top:410px;
  width:50px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1395px;
  top:414px;
  width:105px;
  height:16px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:620px;
  top:52px;
  width:320px;
  height:568px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u15 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:880px;
  top:134px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:630px;
  top:285px;
  width:300px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:930px;
  top:310px;
  width:146px;
  height:26px;
}
#u20_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u20_seg1 {
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:46px;
}
#u20_seg2 {
  position:absolute;
  left:30px;
  top:16px;
  width:120px;
  height:20px;
}
#u21 {
  position:absolute;
  left:10px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:980px;
  top:310px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1411px;
  top:310px;
  width:359px;
  height:80px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:80px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:460px;
  top:170px;
  width:160px;
  height:166px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:164px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:140px;
  top:-10px;
  width:20px;
  height:186px;
}
#u26_seg2 {
  position:absolute;
  left:140px;
  top:156px;
  width:24px;
  height:20px;
}
#u27 {
  position:absolute;
  left:100px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:509px;
  top:150px;
  width:61px;
  height:16px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:30px;
  top:21px;
  width:170px;
  height:16px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:151px;
  top:201px;
  width:320px;
  height:71px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:71px;
}
#u33 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:161px;
  top:220px;
  width:300px;
  height:41px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:41px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:161px;
  top:216px;
  width:300px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:270px;
  top:271px;
  width:170px;
  height:32px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
