<ion-modal-view ng-controller="enjoyCtrl" class="bg-modal">
    <span class="icon mzc mzc-close close-modal" ng-click="closeModal(2)"></span>
    <ion-content class="bg-light border-radius-big padding-normal-vertical padding-big-horizontal" scroll="false">
        <div class="row row-no-padding">
            <div class="col col-25">
                <img class="img-auto" ng-src="img/logo.png">
            </div>
        </div>
        <ion-scroll overflow-scroll="false" zooming="false" class="modal-scroll font-size-normal font-color-normal padding-big-horizontal">
            <div class="text-center font-color-positive font-weight-big">我要参与</div>
            <div class="row">
                <div class="col-33 padding-normal-left col-center font-color-positive font-weight-big">
                    宝宝姓名
                </div>
                <div class="col col-center padding-normal-right">
                    <input type="text" maxlength="4" class="input-type" ng-model="enjoyObj.babyName">
                </div>
            </div>
            <div class="row">
                <div class="col-33 padding-normal-left col-center font-color-positive font-weight-big">
                    宝宝生日
                </div>
                <div class="col col-center padding-normal-right">
                    <div class="date-group">
                        <input type="text" placeholder="年/月/日" class="input-type" ng-model="enjoyObj.dateInput">
                        <input type="date" class="input-date" ng-model="dateValue" ng-change="changeDate(dateValue)">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-33 padding-normal-left col-center font-color-positive font-weight-big">
                    手机号
                </div>
                <div class="col col-center padding-normal-right">
                    <input type="tel" maxlength="11" class="input-type" ng-model="enjoyObj.phoneNumber">
                </div>
            </div>
            <div class="row">
                <div class="col-33 padding-normal-left col-center font-color-positive font-weight-big">
                    微信号
                </div>
                <div class="col col-center padding-normal-right">
                    <input type="text" maxlength="20" class="input-type" ng-model="enjoyObj.wxNumber">
                </div>
            </div>
            <div class="row">
                <div class="col-33 padding-normal-left col-top font-color-positive font-weight-big">
                    参赛照片
                </div>
                <div class="col col-top padding-normal-right">
                    <div class="photo-group" ng-class="{true:'active',false:''}[hasFile]">
                        <div class="bg-file" ngf-background="enjoyObj.fileCu | ngfDataUrl">
                        </div>
                        <div class="input-file" ngf-select ngf-keep="false" ngf-accept="'image/*'" ngf-validate-fn="validate($file)"  ngf-change="getChangFile($file)"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-33 padding-normal-left col-top font-color-positive font-weight-big">
                    简介
                </div>
                <div class="col col-top padding-normal-right">
                    <textarea class="textarea-big" maxlength="50" ng-model="enjoyObj.remark"></textarea>
                </div>
            </div>
            <div class="row margin-normal-top font-color-white">
                <div class="col col-80 col-offset-10">
                    <div class="bg-positive-reversal text-center border-radius-big padding-small-vertical" ng-click="submitEnjoy(enjoyObj)">确认提交</div>
                </div>
            </div>
        </ion-scroll>
        <div class="button-group">
            <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-left" ng-click="goHome()">返回首页</span>
            <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-right" ng-click="showRule()">活动规则</span>
        </div>
    </ion-content>
</ion-modal-view>