<ion-modal-view ng-controller="prizeMumCtrl" class="bg-modal">
    <span class="icon mzc mzc-close close-modal" ng-click="closeModal(7)"></span>
    <ion-content class="bg-light border-radius-big padding-normal-vertical padding-big-horizontal" scroll="false">
        <div class="row row-no-padding">
            <div class="col col-25">
                <img class="img-auto" ng-src="{{resources.url + resources.images.logo}}">
            </div>
        </div>
        <div class="text-center font-color-white font-size-normal font-weight-normal margin-normal-vertical">奖品展示</div>
        <ion-scroll overflow-scroll="false" zooming="false" class="modal-scroll font-color-positive font-size-normal padding-normal-horizontal" >
            <img class="img-auto" ng-src="{{resources.url + resources.images.mzmam}}">
            <div class="rule-title">
                美赞新生命 臻分享
            </div>
        </ion-scroll>
        <div class="button-group">
            <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-center" ng-click="goHome()">返回首页</span>
        </div>
    </ion-content>
</ion-modal-view>