<ion-modal-view class="bg-modal bg-qrCode">
    <span class="icon mzc mzc-close close-modal close-qrCode" ng-click="closeModal(5)"></span>
    <ion-content has-bouncing="true" overflow-scroll="false" class="bg-light border-radius-big padding-normal-vertical padding-big-horizontal" scroll="false">
        <div class="row row-no-padding">
            <div class="col col-80 col-offset-10">
                <img ng-src="{{resources.url + resources.images.qrCode}}" class="img-auto">
            </div>
        </div>
        <div class="font-color-positive font-weight-big text-center">
            要先关注才能投票哦!
        </div>
        <div class="font-color-positive text-center margin-big-vertical">
            长按识别图中二维码<br/>
            关注萌宝派
        </div>

    </ion-content>
</ion-modal-view>