<ion-modal-view ng-controller="ruleMamCtrl" class="bg-modal">
    <span class="icon mzc mzc-close close-modal" ng-click="closeModal(4)"></span>
    <ion-content class="bg-light border-radius-big padding-normal-vertical padding-big-horizontal" scroll="false">
        <div class="row row-no-padding">
            <div class="col col-25">
                <img class="img-auto" ng-src="{{resources.url + resources.images.logo}}">
            </div>
        </div>
        <ion-scroll overflow-scroll="false" zooming="false" class="modal-scroll font-color-positive font-size-small padding-big-horizontal" >
            <img class="img-auto" ng-src="{{resources.url + resources.images.mzmam}}">
            <div class="rule-title">
                <span class="font-weight-big">美赞新生命 臻分享</span>
            </div>
            <div class="rule-part">
                <span class="font-weight-big">怀孕的女性也应该美美哒！我们将提供孕妈一个展现自我的舞台，分享即将成为人母的欣喜！
                尽情释放你的热情与才华，充分展现怀孕女性的独特魅力，让伟大的母爱与甜美的笑容洒满申城！</span>
            </div>
            <div class="rule-part">
                <span class="font-weight-big stress">
                    时间：2016年8月7日  上午  09：00~12：00<br/>
                    地点：上海龙之梦万丽酒店—长宁区长宁路 1018 号10楼宴会厅 地铁：2，3，4号线直达<br/>
                    报名对象：孕妈妈<br/>
                    参与方式：<br/>
                    ①在萌宝派公众号回复“报名”两个字，留下您的姓名、手机号码、孕几周等信息，工作人员会联系您进行确认。<br/>
                    ②报名热线：&nbsp;<a href="tel://15902176983"><span class="mzc mzc-touch"></span>15902176983 陈小姐</a><br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="tel://13701658713"><span class="mzc mzc-touch"></span>13701658713 龚小姐</a>
                    </span>
            </div>
            <div class="rule-part">
                <span class="font-weight-big title">•A+爹地妈咪大比拼</span>
                <span class="font-weight-big">考验你带娃技巧的时候到了！你是否是个合格的准爸准妈？参与A+爹地妈咪大比拼，看看谁是最优秀的准妈妈，优胜者就有机会获得丰厚礼品哦！</span>
            </div>
            <div class="rule-part">
                <span class="font-weight-big title">•“萌”宝童车秀 </span>
                <span class="font-weight-big">家有“赞”宝初长成。经过线上实力大比拼，12强宝宝也来到现场秀可爱啦。同时也会进行现场颁奖，集赞大礼带回家！</span>
                <span class="font-weight-big">第一名：价值2280元汽车安全座椅</span>
                <span class="font-weight-big">第二名：价值2000元泰国萨瓦斯蒂（Sawasdee Latex）婴幼儿天然乳胶床上5件套</span>
                <span class="font-weight-big">第三名：价值800元好奇羽毛垫+好奇尿裤（76片）</span>
                <span class="font-weight-big">所有入围宝宝都将获得奖状与价值500元礼包一份</span>
            </div>
            <div class="rule-part">
                <span class="font-weight-big title">•美赞臻分享家庭幸运大抽奖 </span>
                <span class="font-weight-big">活动最后，现场所有爸爸妈妈只要线上签到，即可参加幸运大抽奖，重磅奖励会不会有你一份？</span>
                <span class="font-weight-big">一等奖：1名</span>
                <span class="font-weight-big">价值2000元泰国萨瓦斯蒂（Sawasdee Latex）婴幼儿天然乳胶床上5件套</span>
                <span class="font-weight-big">二等奖：2名</span>
                <span class="font-weight-big">价值1000元印尼金丝官燕盏一份</span>
                <span class="font-weight-big">三等奖：3名</span>
                <span class="font-weight-big">价值800元费雪毛毯+好奇尿裤（76片）</span>
                <span class="font-weight-big">更赞的是！所有到场家庭都将获得价值千元的新生大礼包一份！</span>
            </div>
        </ion-scroll>
        <div class="button-group text-center">
            <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-center" ng-click="goHome()">返回首页</span>
        </div>
    </ion-content>
</ion-modal-view>