<ion-modal-view ng-controller="ruleBabyCtrl" class="bg-modal">
    <span class="icon mzc mzc-close close-modal" ng-click="closeModal(1)"></span>
    <ion-content class="bg-light border-radius-big padding-normal" scroll="false">
        <div class="row row-no-padding">
            <div class="col col-25">
                <img class="img-auto" ng-src="img/logo.png">
            </div>
        </div>
        <ion-scroll zooming="false" class="modal-scroll font-color-white font-size-normal padding-normal-horizontal" >

        </ion-scroll>
        <div class="button-group">
            <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-left" ng-click="goHome()">返回首页</span>
            <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-right" ng-click="showEnjoy()">我要参与</span>
        </div>
    </ion-content>
</ion-modal-view>