<ion-modal-view ng-controller="ruleBabyCtrl" class="bg-modal">
    <span class="icon mzc mzc-close close-modal" ng-click="closeModal(1)"></span>
    <ion-content class="bg-light border-radius-big padding-normal-vertical padding-big-horizontal" scroll="false">
        <div class="row row-no-padding">
            <div class="col col-25">
                <img class="img-auto" ng-src="{{resources.url + resources.images.logo}}">
            </div>
        </div>
        <ion-scroll overflow-scroll="false" zooming="false" class="modal-scroll font-color-positive font-size-small padding-big-horizontal">
            <img class="img-auto" ng-src="{{resources.url + resources.images.mzbaby}}">
            <div class="rule-title">
                幸福孕育——美赞超级SHOW
            </div>
            <div class="rule-part">
                从十月怀胎到一朝分娩，妈妈总是在默默地奉献。然而也因此在这种付出中收获甜蜜与喜悦，在艰辛的付出中品尝生命的快乐。<br/>
                转眼间宝宝满月啦，在宝宝展现甜蜜笑颜时你是否想向更多人分享为人母的欣喜？让伟大的母爱与甜美的笑容洒满申城，共迎属于您的第一个“母亲节”。<br/>
            </div>
            <div class="rule-part">
                皮太郎摄影倾情赠送价值388元新生儿（出生10天以内）拍摄机会，全程无闪光，上海外环以内可免费上门哦。<br/>
                本次美赞宝宝SHOW，由皮太郎倾力支持并担任评委；皮太郎摄影，让参赛宝宝更加亮眼出众！<br/>
            </div>
            <div class="rule-part">
                <div class="row row-no-padding">
                    <div class="col-50 col-offset-25">
                        <img class="img-auto" ng-src="{{resources.url + resources.images.logoPtl}}">
                    </div>
                </div>
            </div>
            <div class="rule-part font-weight-big">
                <span class="font-weight-big">【参与方式】</span>
            </div>
            <div class="rule-part">
                报名对象：全国百天龄以下的宝宝都可以参加
            </div>
            <div class="rule-part">
                <span class="font-weight-big">线上晋级</span><br/>
                <span class="font-weight-big">X月X日—X月X日</span><br/>
                1.关注萌宝派微信服务号，在“萌宝活动”中找到“美赞宝宝SHOW”活动帖进入活动页面。<br/>
                2.填写参赛报名信息，并上传宝宝满月照即可提交报名。<br/>
                3.直接将你的宝宝页面发送至朋友圈，可为宝宝拉票哦！或者记录下宝宝的参赛编号，好友进入活动页面查询即可为你的宝宝投票啦。<br/>
                4.首轮通过投票选出30名宝宝晋级。除了能进入下一轮晋级比赛，更能获得皮太郎摄影机构专业摄影机会一次，让宝宝的参赛宣传照更加可爱动人！<br/>
                <span class="font-weight-big">X月X日—X月X日</span><br/>
                1.首轮晋级的30名宝宝将自己最新拍摄的萌照上传至活动页面后进行第二轮比拼，记得继续拉票竞选，争夺前10名额哦！<br/>
                2.最终10位晋级宝宝将在现场展示活动中揭晓！<br/>
            </div>
            <div class="rule-part">
                <span class="font-weight-big">现场展示</span><br/>
                1.所有参赛宝宝都可以参与X月X日现场大比拼，争夺更多大奖。<br/>
                2.现场10强选手宝宝更有大惊喜哟！  是10强吗？还是30强？<br/>
            </div>
            <div class="rule-part">
                <span class="font-weight-big">注意咯！</span><br/>
                1.只有关注萌宝派（微信号：mengbaopai）的粉丝才可以进行投票。<br/>
                2.在萌宝派微信服务号内回复“投票”，打开萌宝投票页面，搜索宝宝编号，即可为指定宝宝投票<br/>
                3.每人每天（24小时）可投1票，24小时后可以继续投票，所以记得不要选错哦！<br/>

            </div>
        </ion-scroll>
        <div class="button-group">
            <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-left" ng-click="goHome()">返回首页</span>
            <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-right" ng-click="showEnjoy()">我要参与</span>
        </div>
    </ion-content>
</ion-modal-view>