<ion-modal-view ng-controller="ruleCtrl" class="bg-modal">
    <span class="icon mzc mzc-close close-modal" ng-click="closeModal(1)"></span>
    <ion-content class="bg-balanced border-radius-big padding-normal" scroll="false">
        <div class="row row-no-padding">
            <div class="col col-25">
                <img class="img-auto" ng-src="img/logo.png">
            </div>
        </div>
        <div class="text-center font-color-white font-size-normal font-weight-normal margin-normal-vertical">美赞宝宝SHOW</div>
        <ion-scroll delegate-handle="ruleScroll" zooming="false" class="rule-scroll font-color-white font-size-normal" >
            adfadsasdfasdsadfdsfasdfdsafadfadsasdfasdsadfdsfasdfdsafadfadsasdfasdsadfdsfasdfdsafadfadsasdfasdsadfdsfasdfdsafadfadsasdfasdsadfdsfasdfdsafadfadsasdfasdsadfdsfasdfdsafadfadsasdfasdsadfdsfasdfdsafdfdsafddfdafasdfasd发呆时发生大幅度上升的范德萨范德萨分
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
            adfadsasdfasdsadfdsfasdfdsaf
        </ion-scroll>
        <span class="icon mzc mzc-continue scroll-more"></span>
        <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-left" ng-click="goHome()">返回首页</span>
        <span class="font-color-white bg-positive border-radius-big padding-normal-horizontal btn-positive btn-positive-right" ng-click="showEnjoy()">我要参与</span>
    </ion-content>
</ion-modal-view>