body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:142px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:440px;
  top:142px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:362px;
  width:140px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:270px;
  top:382px;
  width:170px;
  height:44px;
}
#u6_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:174px;
  height:20px;
}
#u6_seg1 {
  position:absolute;
  left:150px;
  top:-10px;
  width:20px;
  height:64px;
}
#u6_seg2 {
  position:absolute;
  left:150px;
  top:34px;
  width:24px;
  height:20px;
}
#u7 {
  position:absolute;
  left:57px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:310px;
  top:359px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:440px;
  top:28px;
  width:300px;
  height:112px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:46px;
  top:162px;
  width:24px;
  height:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:28px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:910px;
  top:122px;
  width:320px;
  height:568px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u15 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:450px;
  top:260px;
  width:310px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:760px;
  top:280px;
  width:150px;
  height:126px;
}
#u18_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:154px;
  height:20px;
}
#u18_seg1 {
  position:absolute;
  left:130px;
  top:-10px;
  width:20px;
  height:146px;
}
#u18_seg2 {
  position:absolute;
  left:130px;
  top:116px;
  width:24px;
  height:20px;
}
#u19 {
  position:absolute;
  left:88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:910px;
  top:500px;
  width:50px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:910px;
  top:520px;
  width:-150px;
  height:-94px;
}
#u22_seg0 {
  position:absolute;
  left:-150px;
  top:-10px;
  width:154px;
  height:20px;
}
#u22_seg1 {
  position:absolute;
  left:-150px;
  top:-104px;
  width:20px;
  height:114px;
}
#u22_seg2 {
  position:absolute;
  left:-154px;
  top:-104px;
  width:24px;
  height:20px;
}
#u23 {
  position:absolute;
  left:-172px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1180px;
  top:510px;
  width:50px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1230px;
  top:514px;
  width:170px;
  height:16px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
