.product-detail-line{
    height: 1px;
    background-color: #D2D2D2;
}

.product-image{
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    -webkit-background-size: cover;
}

.product-slider-group .slider-pager-page{
    color: rgba(255,255,255,.7);
    opacity: 1;
}

/*.product-slider-group .slider-slides{
    width: 100%!important;
    overflow: hidden;
}*/

.product-slider-group .slider-pager-page.active{
    color: #FF4E72;
    color: rgba(255,78,114,.7);
}

.user-header-image{
    width: 80%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    -webkit-background-size: cover;
    margin: 0px auto;
}
