body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:572px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:42px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:459px;
  top:120px;
  width:31px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:14px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:31px;
  height:1px;
}
#u3 {
  position:absolute;
  left:493px;
  top:117px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:450px;
  top:70px;
  width:40px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u6 {
  position:absolute;
  left:490px;
  top:67px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:140px;
  top:170px;
  width:320px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:140px;
  top:220px;
  width:320px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:140px;
  top:270px;
  width:320px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:304px;
  width:320px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:139px;
  top:337px;
  width:320px;
  height:34px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:140px;
  top:374px;
  width:320px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:140px;
  top:424px;
  width:320px;
  height:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:140px;
  top:470px;
  width:320px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:139px;
  top:93px;
  width:320px;
  height:67px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:67px;
}
#u25 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
