body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:70px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:289px;
  top:170px;
  width:131px;
  height:16px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:210px;
  top:230px;
  width:138px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:370px;
  top:204px;
  width:80px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:455px;
  top:198px;
  width:138px;
  height:48px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:48px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:630px;
  top:52px;
  width:320px;
  height:568px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u11 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:140px;
  top:270px;
  width:300px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:440px;
  top:295px;
  width:190px;
  height:41px;
}
#u14_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:194px;
  height:20px;
}
#u14_seg1 {
  position:absolute;
  left:170px;
  top:-10px;
  width:20px;
  height:61px;
}
#u14_seg2 {
  position:absolute;
  left:170px;
  top:31px;
  width:24px;
  height:20px;
}
#u15 {
  position:absolute;
  left:66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:472px;
  top:302px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:134px;
  top:88px;
  width:30px;
  height:32px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:32px;
  top:96px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:632px;
  top:70px;
  width:30px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:32px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:530px;
  top:78px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1160px;
  top:52px;
  width:320px;
  height:568px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u27 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:640px;
  top:252px;
  width:300px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:940px;
  top:277px;
  width:305px;
  height:59px;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:214px;
  height:20px;
}
#u30_seg1 {
  position:absolute;
  left:190px;
  top:-10px;
  width:20px;
  height:79px;
}
#u30_seg2 {
  position:absolute;
  left:190px;
  top:49px;
  width:119px;
  height:20px;
}
#u31 {
  position:absolute;
  left:132px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1245px;
  top:311px;
  width:150px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:960px;
  top:206px;
  width:170px;
  height:64px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:64px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
