body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:40px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:680px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:17px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:100px;
  top:657px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:550px;
  top:680px;
  width:320px;
  height:568px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u9 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:775px;
  width:320px;
  height:165px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:165px;
}
#u11 {
  position:absolute;
  left:2px;
  top:74px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:420px;
  top:858px;
  width:130px;
  height:106px;
}
#u12_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:134px;
  height:20px;
}
#u12_seg1 {
  position:absolute;
  left:110px;
  top:-10px;
  width:20px;
  height:126px;
}
#u12_seg2 {
  position:absolute;
  left:110px;
  top:96px;
  width:24px;
  height:20px;
}
#u13 {
  position:absolute;
  left:68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:424px;
  top:835px;
  width:118px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:530px;
  top:1282px;
  width:320px;
  height:568px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u17 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:260px;
  top:940px;
  width:430px;
  height:342px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:346px;
}
#u18_seg1 {
  position:absolute;
  left:-10px;
  top:322px;
  width:450px;
  height:20px;
}
#u18_seg2 {
  position:absolute;
  left:420px;
  top:322px;
  width:20px;
  height:24px;
}
#u19 {
  position:absolute;
  left:4px;
  top:324px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:297px;
  top:1282px;
  width:144px;
  height:16px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:940px;
  top:240px;
  width:320px;
  height:568px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u23 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:420px;
  top:324px;
  width:520px;
  height:200px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:524px;
  height:20px;
}
#u24_seg1 {
  position:absolute;
  left:500px;
  top:-10px;
  width:20px;
  height:220px;
}
#u24_seg2 {
  position:absolute;
  left:500px;
  top:190px;
  width:24px;
  height:20px;
}
#u25 {
  position:absolute;
  left:310px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:587px;
  top:297px;
  width:118px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
