body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:560px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:556px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:89px;
  top:59px;
  width:496px;
  height:137px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:152px;
  top:0px;
  width:339px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:335px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:152px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:152px;
  top:30px;
  width:339px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:335px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:60px;
  width:152px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:152px;
  top:60px;
  width:339px;
  height:36px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:335px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:96px;
  width:152px;
  height:36px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:152px;
  top:96px;
  width:339px;
  height:36px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:335px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:20px;
  top:118px;
  width:70px;
  height:73px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:73px;
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:66px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:20px;
  top:59px;
  width:70px;
  height:60px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u22 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  word-wrap:break-word;
}
