/*字体图标样式*/
@font-face {
    font-family: "mbpz";
    font-weight: normal;
    font-style: normal;
    src: url("../font/iconfont.ttf") format('truetype');
}

.mbpz-icon {
    font-family:"mbpz" !important;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    position:relative;top:1px;
    display:inline-block;
    -webkit-font-smoothing:antialiased;
}
.mbpz-icon-message:before { content: "\e601"; }
.mbpz-icon-home:before { content: "\e600"; }
.mbpz-icon-shop-bag:before { content: "\e602"; }
.mbpz-icon-personal:before { content: "\e603"; }
.mbpz-icon-plus:before { content: "\e604"; }

/*背景色*/
.bg-light{
    background-color: #FFFFFF;
}

.bg-energized{
    background-color: #FFFFFF;
}

.bg-main-content{
    background-color: #F5F5F5;
}

/*阴影*/
.box-shadow-outline-top-gray{
    -webkit-box-shadow: 0 -5px 5px rgba(0,0,0,.1);
    box-shadow: 0 -5px 5px rgba(0,0,0,.1);
}

/*边框圆角*/
.border-radius-normal{
    border-radius: 10px;
}

.border-radius-small{
    border-radius: 5px;
}

.border-radius-big{
    border-radius: 15px;
}

.border-radius-large{
    border-radius: 20px;
}

.border-radius-round{
    border-radius: 50%;
}

/*字体颜色*/
.font-color-normal{
    color: #666666;
}

.font-color-dark{
    color: #333333;
}

.font-color-light{
    color: #999999;
}

.font-color-stable{
    color: #FFFFFF;
}

.font-color-assertive{
    color: #FF4E72;
}

.font-color-calm{
    color: #2ADFEF;
}

/*边距操作*/
.no-padding-left,
.no-padding-horizontal{
    padding-left: 0px!important;
}

.no-padding-right,
.no-padding-horizontal{
    padding-right: 0px!important;
}

.padding-bottom-normal,
.padding-vertical{
    padding-bottom: 10px!important;
}

.padding-up-normal,
.padding-vertical{
    padding-up: 10px!important;
}


/*content*/
html,
body,
.mbpz-container-fluid{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}



