/*字体图标样式*/
@font-face {
    font-family: "mbpz";
    font-weight: normal;
    font-style: normal;
    src: url("../font/iconfont.ttf") format('truetype');
}

.mbpz-icon {
    font-family:"mbpz" !important;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
.mbpz-icon-message:before { content: "\e601"; }
.mbpz-icon-home:before { content: "\e600"; }
.mbpz-icon-shop-bag:before { content: "\e602"; }
.mbpz-icon-personal:before { content: "\e603"; }
.mbpz-icon-plus:before { content: "\e604"; }

/*背景色*/
.bg-light{
    background-color: #FFFFFF;
}

.bg-energized{
    background-color: #FFFFFF;
}

/*阴影*/
.box-shadow-outline-top-gray{
    -webkit-box-shadow: 0 -5px 5px rgba(0,0,0,.1);
    box-shadow: 0 -5px 5px rgba(0,0,0,.1);
}

/*字体颜色*/
.font-color-normal{
    color: #666666;
}

.font-color-dark{
    color: #333333;
}

.font-color-light{
    color: #999999;
}

.font-color-stable{
    color: #FFFFFF;
}

.font-color-assertive{
    color: #FF4E72;
}

.font-color-calm{
    color: #2ADFEF;
}



