body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:455px;
  height:57px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:52px;
}
#u2 {
  position:absolute;
  left:2px;
  top:18px;
  width:221px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:225px;
  top:0px;
  width:225px;
  height:52px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:52px;
}
#u4 {
  position:absolute;
  left:2px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:109px;
  top:99px;
  width:675px;
  height:263px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:207px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:211px;
  top:0px;
  width:459px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:455px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:30px;
  width:211px;
  height:41px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:207px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:211px;
  top:30px;
  width:459px;
  height:41px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:455px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:71px;
  width:211px;
  height:43px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:43px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:207px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:211px;
  top:71px;
  width:459px;
  height:43px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:43px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:455px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:114px;
  width:211px;
  height:46px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:46px;
}
#u19 {
  position:absolute;
  left:2px;
  top:15px;
  width:207px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:211px;
  top:114px;
  width:459px;
  height:46px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:46px;
}
#u21 {
  position:absolute;
  left:2px;
  top:15px;
  width:455px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:160px;
  width:211px;
  height:49px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:49px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:207px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:211px;
  top:160px;
  width:459px;
  height:49px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:49px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:455px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:209px;
  width:211px;
  height:49px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:49px;
}
#u27 {
  position:absolute;
  left:2px;
  top:16px;
  width:207px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:211px;
  top:209px;
  width:459px;
  height:49px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:49px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:455px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:72px;
  width:769px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:28px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:765px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:99px;
  width:100px;
  height:258px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:258px;
}
#u33 {
  position:absolute;
  left:2px;
  top:121px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:11px;
  top:356px;
  width:100px;
  height:127px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:127px;
}
#u35 {
  position:absolute;
  left:2px;
  top:56px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:110px;
  top:356px;
  width:675px;
  height:132px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:41px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:41px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:207px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:211px;
  top:0px;
  width:459px;
  height:41px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:41px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:455px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:41px;
  width:211px;
  height:43px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:43px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:207px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:211px;
  top:41px;
  width:459px;
  height:43px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:43px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:455px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:84px;
  width:211px;
  height:43px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:43px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:207px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:211px;
  top:84px;
  width:459px;
  height:43px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:43px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:455px;
  word-wrap:break-word;
}
