
@font-face {font-family: "mzc";
  src: url('iconfont.eot?t=1462765995'); /* IE9*/
  src: url('iconfont.eot?t=1462765995#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1462765995') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1462765995') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1462765995#mzc') format('svg'); /* iOS 4.1- */
}

.mzc {
  font-family:"mzc" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
}
.mzc-search:before { content: "\e601"; }
.mzc-heart:before { content: "\e602"; }
.mzc-back-to-top:before { content: "\e605"; }
.mzc-close:before { content: "\e603"; }
.mzc-back:before { content: "\e608"; }
.mzc-continue:before { content: "\e609"; }
