body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:182px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:182px;
  top:68px;
  width:40px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:142px;
  top:78px;
  width:40px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u5 {
  position:absolute;
  left:63px;
  top:75px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:502px;
  top:152px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:182px;
  top:198px;
  width:320px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:502px;
  top:221px;
  width:40px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u12 {
  position:absolute;
  left:542px;
  top:218px;
  width:118px;
  height:16px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:182px;
  top:576px;
  width:320px;
  height:34px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:34px;
}
#u15 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:730px;
  top:50px;
  width:320px;
  height:568px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u17 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:735px;
  top:71px;
  width:40px;
  height:23px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:735px;
  top:82px;
  width:-393px;
  height:-32px;
}
#u20_seg0 {
  position:absolute;
  left:-233px;
  top:-10px;
  width:237px;
  height:20px;
}
#u20_seg1 {
  position:absolute;
  left:-233px;
  top:-52px;
  width:20px;
  height:62px;
}
#u20_seg2 {
  position:absolute;
  left:-403px;
  top:-52px;
  width:190px;
  height:20px;
}
#u20_seg3 {
  position:absolute;
  left:-403px;
  top:-52px;
  width:20px;
  height:24px;
}
#u21 {
  position:absolute;
  left:-272px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:622px;
  top:55px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1060px;
  top:144px;
  width:117px;
  height:32px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:502px;
  top:593px;
  width:228px;
  height:-259px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:232px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:208px;
  top:-269px;
  width:20px;
  height:279px;
}
#u26_seg2 {
  position:absolute;
  left:208px;
  top:-269px;
  width:24px;
  height:20px;
}
#u27 {
  position:absolute;
  left:168px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:542px;
  top:563px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:954px;
  top:582px;
  width:100px;
  height:38px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
}
#u31 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1250px;
  top:50px;
  width:320px;
  height:568px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u33 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1054px;
  top:601px;
  width:196px;
  height:-267px;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:200px;
  height:20px;
}
#u34_seg1 {
  position:absolute;
  left:176px;
  top:-277px;
  width:20px;
  height:287px;
}
#u34_seg2 {
  position:absolute;
  left:176px;
  top:-277px;
  width:24px;
  height:20px;
}
#u35 {
  position:absolute;
  left:136px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1064px;
  top:570px;
  width:157px;
  height:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1574px;
  top:312px;
  width:248px;
  height:48px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:48px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
