<ion-view class="bg-main">
    <ion-content has-bouncing="true" overflow-scroll="false">
        <ion-refresher
                pulling-text="下来刷新"
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row">
            <div class="col col-25">
                <img ng-src="{{resources.url + resources.images.logo}}" class="img-auto">
            </div>
        </div>
        <div class="row padding-normal-top padding-normal-horizontal font-color-white text-center row-font-size">
            <div class="col bg-positive-reversal padding-big-vertical">
                <span ng-bind="detailObj.photoNumber + '号'"></span>
            </div>
            <div class="col col-20 bg-positive-reversal padding-big-vertical">
                <span ng-bind="detailObj.babyNick"></span>
            </div>
            <div class="col bg-positive-reversal padding-big-vertical">
                排名:<span ng-bind="detailObj.rank"></span>
            </div>
            <div class="col bg-positive-reversal padding-big-vertical">
                票数:<span ng-bind="detailObj.number||0"></span>
            </div>
        </div>
        <div class="detail-image padding-normal-horizontal margin-small-top">
            <img class="img-auto" ng-src="{{detailObj.photo}}">
            <div ng-if="checkEdit()" class="btn-edit" ng-click="openModal(6)">点击编辑</div>
        </div>
        <div class="row padding-normal-horizontal margin-small-top font-size-normal">
            <div class="col padding-normal-vertical bg-balance font-color-white">
                作品简介
            </div>
        </div>
        <div class="row padding-normal-horizontal font-size-normal">
            <div class="col font-color-normal border-width-normal border-style-solid border-color-balance bg-light padding-big">
                <span ng-bind="detailObj.remark"></span>
            </div>
        </div>
        <div class="row margin-normal-top">
            <div class="col col-80 col-offset-10 padding-none">
                <div class="border-radius-normal font-color-white padding-small-vertical margin-small-bottom bg-positive-reversal text-center" ng-click="voteByBallot($event)">投TA一票</div>
            </div>
        </div>
        <div class="row margin-small-top" ng-if="checkIsJoin()">
            <div class="col col-80 col-offset-10 padding-none">
                <div ng-click="openModal(2)" class="border-radius-normal font-color-white padding-small-vertical margin-small-bottom bg-positive-reversal text-center">我也要参加</div>
            </div>
        </div>
        <div class="row margin-small-top">
            <div class="col col-80 col-offset-10 padding-none">
                <div ng-click="goHome()" class="border-radius-normal font-color-white padding-small-vertical margin-small-bottom bg-positive-reversal text-center">返回首页</div>
            </div>
        </div>
    </ion-content>
</ion-view>