<ion-view class="bg-main">
    <a class="fixed-button-right border-radius-round"  ng-click="backToTop('homeTop')"><span class="icon mzc mzc-back-to-top"></span></a>
    <ion-content>
        <ion-refresher
                pulling-text="下来刷新"
                on-refresh="doRefresh()">
        </ion-refresher>
        <!--头部广告部分-->
        <div id="homeTop"><img class="img-auto" ng-src="img/head.jpg"></div>
        <!--模块按钮-->
        <div class="row text-center font-color-white padding-big-vertical padding-small-horizontal">
            <div class="col bg-positive border-radius-big btn-bar" ng-click="openPop($event)">
                活动规则
            </div>
            <div class="col bg-positive border-radius-big btn-bar" ng-click="openModal(2)">
                我要参加
            </div>
            <div class="col bg-positive border-radius-big btn-bar" ng-click="showPage()">
                排行榜
            </div>
            <div class="col bg-positive border-radius-big btn-bar" ng-click="openModal(3)">
                奖品展示
            </div>
        </div>
        <!--搜索-->
        <div class="row padding-small-horizontal padding-big-vertical">
            <div class="col-80 item-input padding-none border-radius-big border-style-solid border-color-balance border-width-normal bg-light">
                <i class="icon mzc mzc-search font-color-balance padding-small-horizontal"></i>
                <input class="inout-auto font-color-normal" type="text" placeholder="请输入参赛者姓名或编号进行投票" ng-model="searchFor">
                <i ng-if="searchFor!=''" class="icon ion-close-circled padding-small-horizontal font-color-balance" ng-click="cleanSearch()"></i>
            </div>
            <div class="col text-center bg-balance font-color-white border-radius-big margin-normal-left" ng-click="search(searchFor)">
                搜索
            </div>
        </div>
        <div masonry class="margin-big-bottom">
            <div class="masonry-brick" ng-repeat="homeBoxItem in homeBoxItems track by $index" ng-click="findBabyDetail(homeBoxItem.openId)">
                <div class="home-box-body">
                    <div class="home-box-number">
                        <span ng-bind="homeBoxItem.photoNumber"></span>
                    </div>
                    <img ng-src="{{homeBoxItem.photo}}" class="img-auto margin-normal-bottom">
                    <div class="row row-no-padding margin-normal-bottom">
                        <div class="col col-55 col-center">
                            <span class="icon mzc mzc-heart font-color-red"></span>
                            <span class="font-color-normal font-size-smaller" ng-bind="homeBoxItem.babyNick"></span>
                        </div>
                        <div class="col text-right font-size-smaller col-center">
                            <span class="font-color-red" ng-bind="(homeBoxItem.number||0)"></span>票
                        </div>
                    </div>
                    <button class="button-block bg-calm border-radius-big no-bg font-color-white padding-small-vertical margin-small-bottom" type="button" ng-click="voteByBallot($event,homeBoxItem.openId,$index)">投TA一票</button>
                </div>
            </div>
        </div>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                immediate-check="true"
                ng-if="noMore()"
        >
        </ion-infinite-scroll>
    </ion-content>
</ion-view>