<ion-view class="bg-main">
    <a class="fixed-button-right border-radius-round"  ng-click="backToTop('rankTop')"><span class="icon mzc mzc-back-to-top"></span></a>
    <a class="fixed-button-left border-radius-round" ng-click="back()"><span class="icon mzc mzc-back"></span></a>
    <ion-content>
        <ion-refresher
                pulling-text="下来刷新"
                on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row" id="rankTop">
            <div class="col col-25">
                <img ng-src="img/logo.png" class="img-auto">
            </div>
        </div>
        <div ng-show="!checkIsJoin()" class="row padding-normal-top padding-normal-horizontal font-color-white font-size-normal">
            <div class="col">
                <div class="text-center bg-positive-reversal padding-small-vertical border-radius-big" ng-click="openModal(2)">点击报名参加</div>
            </div>
        </div>
        <div ng-show="checkIsJoin()" class="row padding-big font-color-white font-size-normal">
            <div class="col col-40 bg-positive-reversal border-radius-big-left-bottom border-radius-big-left-top padding-normal-vertical">
                <div class="col col-80 col-offset-10">
                    <img ng-src="{{detailObj.headImg}}" class="img-auto border-width-normal border-color-light border-style-solid border-radius-round">
                </div>
            </div>
            <div class="col bg-positive-reversal border-radius-big-right-bottom border-radius-big-right-top padding-normal-vertical">
                <div class="margin-normal-bottom">
                    <span ng-bind="detailObj.photoNumber + '号'"></span>
                    <span  class="padding-big-left" ng-bind="detailObj.babyNick"></span>
                </div>
                <div class="margin-normal-bottom">
                    投票数:
                    <span class="padding-big-left" ng-bind="(detailObj.number || 0) + '票'"></span>
                </div>
                <div>
                    排名:
                    <span class="padding-big-left" ng-bind="detailObj.rank + '名'"></span>
                </div>

            </div>
        </div>
        <ion-list class="rank-list font-color-positive text-center">
            <ion-item class="item-divider bg-positive-reversal font-color-white padding-normal-vertical">
                投票排行榜
            </ion-item>
            <ion-item class="item-title font-color-positive padding-none">
                <div class="row row-no-padding font-weight-big">
                    <div class="col padding-small-vertical">
                        排名
                    </div>
                    <div class="col padding-small-vertical">
                        姓名
                    </div>
                    <div class="col padding-small-vertical">
                        编号
                    </div>
                    <div class="col padding-small-vertical">
                        投票数
                    </div>
                </div>
            </ion-item>
            <ion-item ng-repeat="item in rankItems track by $index">
                <div class="row row-no-padding row-font-size text-center">
                    <div class="col text-left">
                        <span class="icon mzc mzc-heart font-color-red font-size-small padding-small-right"></span>
                        <span class="font-color-positive" ng-bind="$index + 1"></span>
                    </div>
                    <div class="col">
                        <span class="font-color-positive" ng-bind="item.babyNick"></span>
                    </div>
                    <div class="col">
                        <span class="font-color-positive" ng-bind="item.photoNumber + '号'"></span>
                    </div>
                    <div class="col">
                        <span class="font-color-red" ng-bind="(item.number||0)"></span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                on-infinite="loadMore()"
                distance="1%"
                immediate-check="true"
                ng-if="noMore()"
        >
        </ion-infinite-scroll>
    </ion-content>
</ion-view>