body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:50px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:162px;
  top:68px;
  width:30px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:75px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:167px;
  top:108px;
  width:308px;
  height:52px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:52px;
}
#u7 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:475px;
  top:126px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
