body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:52px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:70px;
  width:20px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:77px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:104px;
  top:589px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:193px;
  top:576px;
  width:158px;
  height:42px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:42px;
}
#u9 {
  position:absolute;
  left:2px;
  top:13px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:140px;
  top:698px;
  width:320px;
  height:202px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u11 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:267px;
  top:618px;
  width:10px;
  height:80px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:63px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:80px;
}
#u13 {
  position:absolute;
  left:351px;
  top:577px;
  width:158px;
  height:42px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:42px;
}
#u14 {
  position:absolute;
  left:2px;
  top:13px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:511px;
  top:590px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:450px;
  top:713px;
  width:236px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:219px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:236px;
  height:1px;
}
#u18 {
  position:absolute;
  left:690px;
  top:434px;
  width:320px;
  height:568px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u19 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:696px;
  top:653px;
  width:308px;
  height:123px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:123px;
}
#u21 {
  position:absolute;
  left:2px;
  top:54px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:709px;
  top:665px;
  width:126px;
  height:16px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:483px;
  top:697px;
  width:170px;
  height:16px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
