body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:82px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:100px;
  width:40px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:98px;
  top:107px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:505px;
  top:271px;
  width:183px;
  height:64px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:64px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:201px;
  top:139px;
  width:298px;
  height:45px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:203px;
  top:285px;
  width:298px;
  height:45px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:45px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:754px;
  top:52px;
  width:320px;
  height:568px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u13 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:754px;
  top:422px;
  width:320px;
  height:198px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:198px;
}
#u15 {
  position:absolute;
  left:2px;
  top:91px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:499px;
  top:162px;
  width:255px;
  height:359px;
}
#u16_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:249px;
  height:20px;
}
#u16_seg1 {
  position:absolute;
  left:225px;
  top:-10px;
  width:20px;
  height:379px;
}
#u16_seg2 {
  position:absolute;
  left:225px;
  top:349px;
  width:34px;
  height:20px;
}
#u17 {
  position:absolute;
  left:185px;
  top:64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:757px;
  top:428px;
  width:50px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:807px;
  top:428px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1014px;
  top:428px;
  width:50px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1074px;
  top:428px;
  width:282px;
  height:16px;
  color:#FF0000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1074px;
  top:513px;
  width:118px;
  height:16px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:540px;
  top:139px;
  width:105px;
  height:16px;
  color:#FF0000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
