body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:120px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:240px;
  top:140px;
  width:20px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:230px;
  top:176px;
  width:320px;
  height:230px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:230px;
}
#u5 {
  position:absolute;
  left:2px;
  top:107px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
