.detail-image{
    position: relative;
}

.btn-edit{
    background-color: rgba(102,102,102,.6);
    color: #FFFFFF;
    position: absolute;
    z-index: 999;
    right: 10px;
    bottom: 0px;
    padding: 5px 10px;
}