.bg-modal > ion-content{
    width: 88%;
    height: 90%;
    margin: 0px auto;
    top: 5%;
    border: 1px solid #E3CA8A;
}

.bg-modal > ion-content.edit-content{
    width: 80%;
    height: 220px;
    top: calc(50% - 110px);
    top: -webkit-calc(50% - 110px);
}

.bg-qrCode> ion-content{
    width: 200px;
    height: 240px;
    top: calc(50% - 120px);
    top: -webkit-calc(50% - 120px);
}

.close-modal{
    font-size: 32px;
    border:1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: white;
    color: #002e83;
    position: absolute;
    z-index: 999;
    right: 3%;
    top: 3%;
}

.close-qrCode{
    right: calc(50% - 110px);
    right: -webkit-calc(50% - 110px);
    top: calc(50% - 130px);
    top: -webkit-calc(50% - 130px);
}

.close-edit{
    right: calc(50% - 43%);
    right: -webkit-calc(50% - 43%);
    top: calc(50% - 125px);
    top: -webkit-calc(50% - 125px);
}

.modal-scroll{
    width: 100%;
    position: absolute;
    z-index:999;
    left: 0px;
    bottom: 53px;
    top: 40px;
}

.button-group{
    height: 48px;
    position: absolute;
    bottom: 5px;
    z-index:999;
    width: 100%;
    left: 0px;
}

.bg-modal .btn-positive{
    padding-top: 3px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 10px;
}
.bg-modal .btn-positive.btn-positive-center{
    left: calc(50% - 38px);
    left: -webkit-calc(50% - 38px);
}

.bg-modal .btn-positive.btn-positive-left{
    left: calc(10% + 20px);
    left: -webkit-calc(10% + 20px);
}

.bg-modal .btn-positive.btn-positive-right{
    right: calc(10% + 20px);
    right: -webkit-calc(10% + 20px);

}

.input-type{
    width: 100%;
    padding: 5px 10px!important;
    background-color: #DFF1FD;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}

.scroll-view.overflow-scroll{
    position: inherit;
}

.textarea-big{
    background-color: #DFF1FD;
    color: #333333;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    padding: 5px 10px;
    font-size: 14px;
    height: 110px;
    width: 100%;
    word-break: break-all;
}

.photo-group{
    position: relative;
    width: 80px;
    height: 80px;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("http://smart.image.alimmdn.com/H5/MZC/Resources/Image/add-new-photo.png");
    -webkit-background-image: url("http://smart.image.alimmdn.com/H5/MZC/Resources/Image/add-new-photo.png");
    border-radius: 7px;
    -webkit-border-radius: 7px;
    background-color: #DFF1FD;
}

.photo-group.active{
    background-image: none;
}

.bg-file{
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    -webkit-border-radius: 7px;
}

.input-file{
    background: red;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index:999;
    top: 0px;
}

.input-date{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index:999;
    top: 0px;
    -webkit-appearance: none;
    appearance: none;
}

.date-group{
    position: relative;
}


.rule-title{
    font-size: 16px;
    text-align: center;
    margin:20px 0px;
    font-weight: bold;
}

.rule-part{
    line-height: 24px;
}

.rule-part a{
    color: #FF4E72;
    text-decoration: underline;
    text-decoration-color: #FF4E72;
}

.rule-part + .rule-part{
    margin-top: 10px;
}

.bg-modal .stress{
    color: #FF4E72;
}

.bg-modal .prize-scroll>.scroll{
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FFFFFF), to(#FCF9EF));
    background: -webkit-linear-gradient(top, #FFFFFF, #FCF9EF);
}