.mzc-popover{
    width: 100px;
    height: 80px;
}

.platform-ios .mzc-popover,
.platform-android .mzc-popover{
    margin-top: 12px;
    border-radius: 10px!important;
}

.mzc-popover .scroll-content{
    margin: 8px 0px;
}

.platform-ios .popover-arrow ,
.platform-android .popover-arrow {
    position: absolute;
    display: block;
    top: -17px;
    width: 30px;
    height: 19px;
    overflow: hidden;
}

.platform-ios .popover-arrow:after,
.platform-android .popover-arrow:after {
    position: absolute;
    top: 12px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    content: '';
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popover-backdrop.active{
    background-color: rgba(0,0,0,.5)!important;
}