.rank-list .list{
    padding: 0px 15px;
    margin-bottom: 15px;
}

.rank-list .item{
    border-left: 1px solid #002e83;
    border-right: 1px solid #002e83;
    padding: 15px 5px 10px;
}

.rank-list .item.item-title + .item{
    border-top: 1px solid #002e83;
}

.rank-list .item.item-divider,
.rank-list .item:last-child.item-divider{
    border: none;
}

.rank-list .item:last-child{
    border-bottom: 1px solid #002e83;
}

.rank-list .item>a{
    padding: 0px;
}

.rank-list .item>a.activated{
    background-color: #FFFFFF;
}

/*pagelist*/
.page-list{
    position: relative;
    padding-bottom: 50px;
}
.page-list .pagination
{
    padding: 20px 0px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
}
.pagination>li {
    display: inline;
}

.pagination>li>span{
    color:#3D9CEE;
    padding: 0px 5px;
}
.pagination>li:first-child>span,
.pagination>li:last-child>span{
    color:#053285;
}
.pagination>li.active>span{
    color:#FF4E72;
}

.page-list .page-total {
    display: none;
}