body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:127px;
  top:30px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:49px;
  width:30px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:56px;
  width:92px;
  height:16px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:132px;
  top:117px;
  width:315px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:457px;
  top:141px;
  width:261px;
  height:39px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:39px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:175px;
  top:270px;
  width:87px;
  height:16px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:767px;
  top:30px;
  width:320px;
  height:568px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u13 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:137px;
  top:380px;
  width:300px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:437px;
  top:405px;
  width:330px;
  height:-91px;
}
#u16_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:334px;
  height:20px;
}
#u16_seg1 {
  position:absolute;
  left:310px;
  top:-101px;
  width:20px;
  height:111px;
}
#u16_seg2 {
  position:absolute;
  left:310px;
  top:-101px;
  width:24px;
  height:20px;
}
#u17 {
  position:absolute;
  left:160px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:514px;
  top:384px;
  width:196px;
  height:16px;
  color:#FF0000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:830px;
  top:320px;
  width:90px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:750px;
  top:608px;
  width:261px;
  height:16px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:870px;
  top:360px;
  width:10px;
  height:248px;
}
#u24_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u24_end {
  position:absolute;
  left:-5px;
  top:231px;
  width:20px;
  height:18px;
}
#u24_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:248px;
}
#u25 {
  position:absolute;
  left:934px;
  top:326px;
  width:90px;
  height:30px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1290px;
  top:30px;
  width:320px;
  height:568px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u28 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1024px;
  top:341px;
  width:266px;
  height:-27px;
}
#u29_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:270px;
  height:20px;
}
#u29_seg1 {
  position:absolute;
  left:246px;
  top:-37px;
  width:20px;
  height:47px;
}
#u29_seg2 {
  position:absolute;
  left:246px;
  top:-37px;
  width:24px;
  height:20px;
}
#u30 {
  position:absolute;
  left:96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1110px;
  top:240px;
  width:140px;
  height:96px;
  color:#FF0000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:96px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
