body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:650px;
  top:44px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:650px;
  top:18px;
  width:144px;
  height:16px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:1270px;
  top:42px;
  width:320px;
  height:568px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u5 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1278px;
  top:18px;
  width:144px;
  height:16px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:650px;
  top:52px;
  width:40px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:600px;
  top:62px;
  width:50px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u11 {
  position:absolute;
  left:521px;
  top:59px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:970px;
  top:62px;
  width:50px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u14 {
  position:absolute;
  left:1020px;
  top:59px;
  width:183px;
  height:16px;
  color:#FF0000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:930px;
  top:52px;
  width:40px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:656px;
  top:322px;
  width:40px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:606px;
  top:332px;
  width:50px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u21 {
  position:absolute;
  left:527px;
  top:329px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:880px;
  top:322px;
  width:90px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:970px;
  top:332px;
  width:50px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u26 {
  position:absolute;
  left:1020px;
  top:329px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:900px;
  top:422px;
  width:70px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:970px;
  top:442px;
  width:50px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u31 {
  position:absolute;
  left:1020px;
  top:431px;
  width:170px;
  height:31px;
  color:#FF0000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:650px;
  top:732px;
  width:320px;
  height:568px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u34 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:860px;
  top:579px;
  width:110px;
  height:40px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:915px;
  top:619px;
  width:-105px;
  height:113px;
}
#u37_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:117px;
}
#u37_seg1 {
  position:absolute;
  left:-115px;
  top:93px;
  width:125px;
  height:20px;
}
#u37_seg2 {
  position:absolute;
  left:-115px;
  top:93px;
  width:20px;
  height:24px;
}
#u38 {
  position:absolute;
  left:-56px;
  top:95px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:929px;
  top:650px;
  width:79px;
  height:31px;
  color:#FF0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:650px;
  top:752px;
  width:40px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:571px;
  top:761px;
  width:79px;
  height:31px;
  color:#FF0000;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:780px;
  top:861px;
  width:87px;
  height:31px;
  color:#FF0000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:980px;
  top:1042px;
  width:222px;
  height:31px;
  color:#FF0000;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:31px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:820px;
  top:1234px;
  width:70px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:890px;
  top:1239px;
  width:118px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:101px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:118px;
  height:1px;
}
#u52 {
  position:absolute;
  left:1008px;
  top:1234px;
  width:391px;
  height:31px;
  color:#FF0000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:31px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:650px;
  top:1262px;
  width:320px;
  height:38px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u55 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:970px;
  top:1276px;
  width:50px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
#u57 {
  position:absolute;
  left:1020px;
  top:1275px;
  width:222px;
  height:25px;
  color:#FF0000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:25px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:557px;
  top:484px;
  width:99px;
  height:48px;
  color:#FF0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:48px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:780px;
  top:582px;
  width:40px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1070px;
  top:697px;
  width:320px;
  height:568px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u64 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:800px;
  top:582px;
  width:430px;
  height:115px;
}
#u65_seg0 {
  position:absolute;
  left:-10px;
  top:-32px;
  width:20px;
  height:36px;
}
#u65_seg1 {
  position:absolute;
  left:-10px;
  top:-32px;
  width:450px;
  height:20px;
}
#u65_seg2 {
  position:absolute;
  left:420px;
  top:-32px;
  width:20px;
  height:151px;
}
#u66 {
  position:absolute;
  left:222px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1014px;
  top:560px;
  width:53px;
  height:20px;
  color:#FF0000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:170px;
  top:697px;
  width:320px;
  height:568px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u70 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:720px;
  top:584px;
  width:30px;
  height:28px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:742px;
  top:612px;
  width:-404px;
  height:85px;
}
#u73_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:72px;
}
#u73_seg1 {
  position:absolute;
  left:-404px;
  top:48px;
  width:414px;
  height:20px;
}
#u73_seg2 {
  position:absolute;
  left:-404px;
  top:48px;
  width:20px;
  height:47px;
}
#u73_seg3 {
  position:absolute;
  left:-408px;
  top:75px;
  width:24px;
  height:20px;
}
#u74 {
  position:absolute;
  left:-236px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:490px;
  top:653px;
  width:100px;
  height:20px;
  color:#FF0000;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:240px;
  top:1237px;
  width:30px;
  height:28px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:240px;
  top:1275px;
  width:100px;
  height:20px;
  color:#FF0000;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:1020px;
  top:489px;
  width:200px;
  height:32px;
  color:#FF0000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:20px;
  top:44px;
  width:320px;
  height:568px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u84 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:20px;
  top:18px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:225px;
  top:584px;
  width:120px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:355px;
  top:534px;
  width:170px;
  height:96px;
  color:#FF0000;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:96px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:900px;
  top:482px;
  width:70px;
  height:50px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:50px;
}
#u92 {
  position:absolute;
  left:2px;
  top:17px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:970px;
  top:502px;
  width:50px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:50px;
  height:1px;
}
