body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:42px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:200px;
  top:60px;
  width:20px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:160px;
  top:70px;
  width:40px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u5 {
  position:absolute;
  left:42px;
  top:59px;
  width:118px;
  height:32px;
  color:#FF0000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:510px;
  top:138px;
  width:151px;
  height:144px;
  color:#FF0000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:144px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:200px;
  top:390px;
  width:300px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:720px;
  top:42px;
  width:320px;
  height:568px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u12 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:500px;
  top:415px;
  width:220px;
  height:-89px;
}
#u13_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:224px;
  height:20px;
}
#u13_seg1 {
  position:absolute;
  left:200px;
  top:-99px;
  width:20px;
  height:109px;
}
#u13_seg2 {
  position:absolute;
  left:200px;
  top:-99px;
  width:24px;
  height:20px;
}
#u14 {
  position:absolute;
  left:104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:538px;
  top:388px;
  width:79px;
  height:16px;
  color:#FF0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:1050px;
  top:310px;
  width:235px;
  height:48px;
  color:#FF0000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:48px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
