.mbpz-tabs .icon{
    height: 28px!important;
    margin-top: 2px;
}

.mbpz-tabs .tabs{
    background-color: #FFFFFF;
}

.mbpz-tabs .tab-item{
    opacity: 1;
    color: #666666;
}

.mbpz-tabs .tab-item.tab-item-active{
    color: #FF4E72;
}